{
	log default {
		format filter {
			request>uri query {
				replace token REDACTED
			}
		}
	}
}

{$RELAY_PUBLIC_HOST} {
	encode zstd gzip

	@computer path /view/*
	reverse_proxy @computer 127.0.0.1:4330
	reverse_proxy 127.0.0.1:4310

	header {
		Strict-Transport-Security "max-age=31536000; includeSubDomains"
		X-Content-Type-Options "nosniff"
		Referrer-Policy "no-referrer"
	}
}
